<template>
	<footer>
		<h1>{{ copyright }} {{ title }}</h1>
	</footer>
</template>

<script>

import { bus } from '../main';

export default {
	props: {
		title: {
			type: String
		}
	},
  data () {
    return {
    	copyright: "Vue Ninjas &copy 2019"
    }
  },
  created() {
  	bus.$on('changeTitle', (data) => {
  		this.title = data;
  	})
  }
}
</script>

<style scoped>

footer {
	background: #ddd;
	padding: 10px;
}
h1 {
	color: blue;
	text-align: center;
}
</style>
