<template>
	<header>
		<h1 v-on:click="changeTitle">{{ title }}</h1>
	</header>
</template>

<script>

import { bus } from '../main';

export default {
	props: {
		title: {
			type: String
		}
	},
  	data () {
    	return {
    		//title: "Vue Ninjas"
    	}
  	},
  	methods: {
    	changeTitle: function() {
    		//this.$emit('changeTitle', 'Vue Wizards');
    		this.title = "vue Wizards emit bus";
    		bus.$emit('changeTitle', 'Vue Wizards');
    	}
	}
}
</script>

<style scoped>

header {
	background: lightgreen;
	padding: 10px;
}
h1 {
	color: red;
	text-align: center;
}
</style>
